.formStack {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
}

/* DESKTOP */
.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@media (max-width: 480px) {
    .formStack {
        gap: 12px;
    }
}